In [145]:
import numpy as np
import pandas as pd

# Description of code and Approach

APPROACH
- I have used neural net with 6 layers and each had different number of kernels and near to 300
- This has been implemented with a batch gradient descent method with a batch size of 53
- I have tried with various batch sizes and each gave me different results
- I wanted to capture the relations between the attributes in all the data and so I tried by putting more and more layers
   
   - accuracy attained with 1000 epochs and 5 layers = 68.42 
   - since the batch size is small it took time to learn the weights and it needs more epochs but it willl overfit the training data
   - so, I kept on tweaking the parameters until I good good accuracy on the training data and 
   - hence, finding the optimum parameters was most of a hit and trial method
   
 ------------------------------------------------------------------------------------------------------------------------
 * The data has been converted to numerical form for convenience in training the neural net 
 * Then the data has been normalized to keep the values in a tight range or else it would give NaN's
 
This problem can be well approached with a random forrests method with more number of trees but due to constraints in RAM, I have not tried it with more number of trees

- Approach of Random Forrests
    - Random forrests with 100 trees has been tried with pruning and max depth of 27, the training accuracy was seen to be at 57, so I thought of not resorting to that method

## Reading data

In [146]:
data = pd.read_csv('train.csv')

In [147]:
data.head()

,id,distance,taxi_type,months_of_activity,customer_score,customer_score_confidence,drop_location_type,ratings_given_by_cust,num_of_cancelled_trips,anon_var_1,anon_var_2,anon_var_3,sex,pricing_category
0,T0005891966,59.30,C,1.0,NaN,NaN,B,1.18625,0,NaN,50,71,Male,2
1,T0005902453,20.68,B,0.0,2.79222,C,B,1.91750,1,31.0,50,65,Male,2
2,T0005847289,64.83,B,1.0,2.97482,C,A,3.62125,0,65.0,49,84,Male,2
3,T0005741279,25.51,C,0.0,2.90334,A,B,4.76750,2,46.0,43,60,Female,3
4,T0005711058,20.16,D,6.0,2.62301,B,D,2.03875,0,NaN,52,71,Female,3

In [148]:
labels = data['pricing_category']
numbers = np.linspace(1,26,26)

In [149]:
strings = ['A', 'B', 'C','D', 'E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z', 'Male', 'Female']
numbers = np.append(numbers,1)
numbers = np.append(numbers,2)

## Training Data filtering

In [150]:
Xy = data['pricing_category']

labels = np.zeros([len(data),3])

for i in range(0,len(labels)):
    if(Xy[i]==1):
        labels[i][0] = 1
    elif(Xy[i]==2):
        labels[i][1] = 1
    elif(Xy[i]==3):
        labels[i][2] = 1    
    
    

X = data.drop(columns = ['id','pricing_category'], axis = 1)
X.head()

,distance,taxi_type,months_of_activity,customer_score,customer_score_confidence,drop_location_type,ratings_given_by_cust,num_of_cancelled_trips,anon_var_1,anon_var_2,anon_var_3,sex
0,59.30,C,1.0,NaN,NaN,B,1.18625,0,NaN,50,71,Male
1,20.68,B,0.0,2.79222,C,B,1.91750,1,31.0,50,65,Male
2,64.83,B,1.0,2.97482,C,A,3.62125,0,65.0,49,84,Male
3,25.51,C,0.0,2.90334,A,B,4.76750,2,46.0,43,60,Female
4,20.16,D,6.0,2.62301,B,D,2.03875,0,NaN,52,71,Female

In [151]:
X = X.replace(strings, numbers)
X.head()
X = X.fillna(0)

# X=(X-X.mean())/X.std()

In [152]:
X = X.sub(X.mean(axis=0), axis=1)/X.mean(axis=0)
X.head()

,distance,taxi_type,months_of_activity,customer_score,customer_score_confidence,drop_location_type,ratings_given_by_cust,num_of_cancelled_trips,anon_var_1,anon_var_2,anon_var_3,sex
0,0.341588,0.307558,-0.825942,-1.000000,-1.000000,0.002061,-0.584211,-1.000000,-1.000000,-0.023493,-0.054626,-0.223243
1,-0.532141,-0.128295,-1.000000,0.175947,0.763562,0.002061,-0.327903,0.275441,0.042031,-0.023493,-0.134517,-0.223243
2,0.466697,-0.128295,-0.825942,0.252850,0.763562,-0.498969,0.269273,-1.000000,1.184904,-0.043023,0.118471,-0.223243
3,-0.422868,0.307558,-1.000000,0.222746,-0.412146,0.002061,0.671042,1.550882,0.546240,-0.160204,-0.201092,0.553515
4,-0.543905,0.743411,0.044349,0.104684,0.175708,1.004123,-0.285404,-1.000000,-1.000000,0.015567,-0.054626,0.553515

## Test Data Filtering

In [153]:
test_data = pd.read_csv('test.csv')

test_id = test_data['id']
Y = test_data.drop(columns = ['id'], axis = 1)

Y = Y.replace(strings, numbers)
Y.head()
Y = Y.fillna(0)

Y = Y.sub(Y.mean(axis=0), axis=1)/Y.mean(axis=0)
Y.head()

,distance,taxi_type,months_of_activity,customer_score,customer_score_confidence,drop_location_type,ratings_given_by_cust,num_of_cancelled_trips,anon_var_1,anon_var_2,anon_var_3,sex
0,-0.178738,0.30473,-0.130059,-1.000000,-1.000000,-0.003255,-0.164947,-1.000000,-1.000000,-0.043018,0.145236,0.555306
1,-0.489596,-1.00000,-0.130059,0.182290,-0.410748,0.495117,-0.188240,-1.000000,-1.000000,-0.003957,-0.107781,-0.222347
2,0.698859,-0.56509,0.391905,-1.000000,-1.000000,-0.003255,0.244669,-1.000000,-1.000000,-0.043018,-0.134415,-0.222347
3,0.344789,0.30473,0.391905,-1.000000,-1.000000,-0.501628,0.007338,1.560718,1.321533,0.035103,0.145236,-0.222347
4,1.470801,0.73964,0.739882,0.363615,0.178504,-0.501628,-0.050676,0.280359,0.468028,0.093694,0.225136,0.555306

## Keras Neural Network

In [208]:
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation

In [209]:
model = Sequential()

In [210]:
model.add(Dense(units=64, activation='relu', input_dim=12))
model.add(Dense(units=200, activation='relu'))
model.add(Dropout(0.6))
model.add(Dense(units=300, activation='relu'))
model.add(Dense(units=200, activation='relu'))
model.add(Dropout(0.7))
model.add(Dense(units=300, activation='relu'))
model.add(Dense(units=200, activation='relu'))

# model.add(Dropout(0.5))
# model.add(Dense(units=300, activation='relu'))
# model.add(Dense(units=200, activation='relu'))
# model.add(Dense(units=130, activation='relu'))
# model.add(Dense(units=200, activation='relu'))
# model.add(Dense(units=130, activation='relu'))
model.add(Dense(units=3, activation='relu'))

In [211]:
model.compile(loss='categorical_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

In [213]:
model.fit(X,labels, epochs = 53, batch_size = 250)

Epoch 1/53
78997/78997 [==============================] - 7s 88us/step - loss: 0.7050 - acc: 0.7001
Epoch 2/53
78997/78997 [==============================] - 7s 87us/step - loss: 0.7050 - acc: 0.7001: 0s - loss: 0.7049 - acc: 0.70
Epoch 3/53
78997/78997 [==============================] - 7s 84us/step - loss: 0.7039 - acc: 0.6999: 0s - loss: 0.70
Epoch 4/53
14250/78997 [====>.........................] - ETA: 5s - loss: 0.6955 - acc: 0.7045

KeyboardInterrupt:

## Predictions

In [214]:
Y.head()
# test_data.head()

,distance,taxi_type,months_of_activity,customer_score,customer_score_confidence,drop_location_type,ratings_given_by_cust,num_of_cancelled_trips,anon_var_1,anon_var_2,anon_var_3,sex
0,-0.178738,0.30473,-0.130059,-1.000000,-1.000000,-0.003255,-0.164947,-1.000000,-1.000000,-0.043018,0.145236,0.555306
1,-0.489596,-1.00000,-0.130059,0.182290,-0.410748,0.495117,-0.188240,-1.000000,-1.000000,-0.003957,-0.107781,-0.222347
2,0.698859,-0.56509,0.391905,-1.000000,-1.000000,-0.003255,0.244669,-1.000000,-1.000000,-0.043018,-0.134415,-0.222347
3,0.344789,0.30473,0.391905,-1.000000,-1.000000,-0.501628,0.007338,1.560718,1.321533,0.035103,0.145236,-0.222347
4,1.470801,0.73964,0.739882,0.363615,0.178504,-0.501628,-0.050676,0.280359,0.468028,0.093694,0.225136,0.555306

In [217]:
outputs = model.predict(Y,batch_size = 1000)
print outputs

[[ 27.898064 118.06902   21.199877]
 [248.5039   298.40057   91.27142 ]
 [124.26167   12.141056   7.58409 ]
 ...
 [153.96661   12.378194   8.072591]
 [102.75366  506.89062  644.30334 ]
 [ 80.64088  489.06842  964.8557  ]]

In [218]:
test_id.head()
test_id = list(test_id)

AttributeError: 'list' object has no attribute 'head'

In [219]:
out_nb = open('output_F.csv','w')
out_nb.write("id,pricing_category\n")
for x in range(0,len(test_id)):
    out_nb.write(str(test_id[x])+','+str(float(np.argmax(outputs[x])+1)))
    out_nb.write("\n")
out_nb.close()